n8n_flow/stg/SEO Backlink Summary Workflow STG.json
{
  "name": "SEO Backlink Summary Workflow STG",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * 0"
            }
          ]
        }
      },
      "id": "46807f42-63fe-49b1-8328-b039b4f83a36",
      "name": "Daily Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        976,
        592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://seo-stream-stg.addwebprojects.com/api/user/client/domains",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer B82VKlSDTYxos6EvFeNW1Vftrltp42NxmIzXRpqs180daac8"
            },
            {
              "name": "Cookie",
              "value": "XSRF-TOKEN=eyJpdiI6ImtSUlJld1BMREwxajh3cEgvRkx3UEE9PSIsInZhbHVlIjoiR2xkQ21LN3V3ZEF0SVVoNGpnZThIS2RkSExveEdGRWFFMjV2dHI5RlVjbzY2VFhabWlrTVRYaHdjbytHYklWZnFNTzVqV3c0MWV4aSsxb3YxTnhsOEdrRWl6NDlMVDFQdUJ1REs3Mjg2TnVET1JvN0s5RlE0TmpHU0ozc3NNemYiLCJtYWMiOiIyMjZlY2ZjOTg4ZmYyMTgyZmRhODc1Y2UwNTc2MGUxYjRiZjM3MWU2YTAyNmM3NmRlZGRjNGI1NjZiN2ZiODg1IiwidGFnIjoiIn0%3D; laravel_session=eyJpdiI6ImI1ZnZsR2o5RUIvZDk4WjVUV1Q3SlE9PSIsInZhbHVlIjoiaWliVzJuQlBNVEdxcGVnMFlxWHdjUGR0RTI4QWpsemlqS3ozZDVVNVNoR3ZKY0dFVjFRczgvbjFNZkhsaGFBb00zeEI1cWhFUWgxVU9KYWgybUZwSEFNRW8zRHg4RzJHTXE2RUNYTEgwOFE3NmlHWUtKK1VEOE5GL3F5cktuUWMiLCJtYWMiOiI3Y2QxYjQ3OTYxOTNmYzYyOTVmNTQ0MzAwMGEwZjVjNDk4ZjVkOWM3YmJjNDZiZTFmMjA5NTM4YTM3M2IwYjJhIiwidGFnIjoiIn0%3D"
            },
            {
              "name": "cookie",
              "value": "XSRF-TOKEN=eyJpdiI6ImtSUlJld1BMREwxajh3cEgvRkx3UEE9PSIsInZhbHVlIjoiR2xkQ21LN3V3ZEF0SVVoNGpnZThIS2RkSExveEdGRWFFMjV2dHI5RlVjbzY2VFhabWlrTVRYaHdjbytHYklWZnFNTzVqV3c0MWV4aSsxb3YxTnhsOEdrRWl6NDlMVDFQdUJ1REs3Mjg2TnVET1JvN0s5RlE0TmpHU0ozc3NNemYiLCJtYWMiOiIyMjZlY2ZjOTg4ZmYyMTgyZmRhODc1Y2UwNTc2MGUxYjRiZjM3MWU2YTAyNmM3NmRlZGRjNGI1NjZiN2ZiODg1IiwidGFnIjoiIn0%3D;laravel_session=eyJpdiI6ImI1ZnZsR2o5RUIvZDk4WjVUV1Q3SlE9PSIsInZhbHVlIjoiaWliVzJuQlBNVEdxcGVnMFlxWHdjUGR0RTI4QWpsemlqS3ozZDVVNVNoR3ZKY0dFVjFRczgvbjFNZkhsaGFBb00zeEI1cWhFUWgxVU9KYWgybUZwSEFNRW8zRHg4RzJHTXE2RUNYTEgwOFE3NmlHWUtKK1VEOE5GL3F5cktuUWMiLCJtYWMiOiI3Y2QxYjQ3OTYxOTNmYzYyOTVmNTQ0MzAwMGEwZjVjNDk4ZjVkOWM3YmJjNDZiZTFmMjA5NTM4YTM3M2IwYjJhIiwidGFnIjoiIn0%3D;"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "b8211efd-1885-449a-a7ef-90098b598e6c",
      "name": "Get Domains List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1312,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "const clientData = $('Current Client Domain List').all();\nconst seoTasks = $input.all();\n\nconst records = [];\nlet clientIndex = 0;\n\n\nseoTasks.forEach(task => {\n  // Make sure the path exists and has data\n  const tasksArray = task?.json?.tasks;\n  if (!tasksArray || tasksArray.length === 0) return;\n\n  const resultArray = tasksArray[0]?.result;\n  if (!resultArray || resultArray.length === 0) return;\n\n  const result = resultArray[0];\n\n  const clientInfo = clientData[clientIndex];\n  if (!clientInfo) return;\n\n  records.push({\n    client_id: clientInfo.json.client_id,\n    client_domain_id: clientInfo.json.client_domain_id,\n    client_domain: clientInfo.json.client_domain,\n    rival_domain_id: clientInfo.json.id,\n    target: result.target,\n    rank: result.rank,\n    backlinks: result.backlinks,\n    backlinks_spam_score: result.backlinks_spam_score,\n    crawled_pages: result.crawled_pages,\n    broken_backlinks: result.broken_backlinks,\n    broken_pages: result.broken_pages,\n    referring_domains: result.referring_domains,\n    referring_domains_nofollow: result.referring_domains_nofollow,\n    referring_main_domains: result.referring_main_domains,\n    referring_main_domains_nofollow: result.referring_main_domains_nofollow,\n    referring_ips: result.referring_ips,\n    referring_subnets: result.referring_subnets,\n    referring_pages: result.referring_pages,\n    referring_pages_nofollow: result.referring_pages_nofollow,\n    referring_links_tld: result.referring_links_tld,\n    referring_links_types: result.referring_links_types,\n    referring_links_attributes: result.referring_links_attributes,\n    referring_links_platform_types: result.referring_links_platform_types,\n    referring_links_semantic_locations: result.referring_links_semantic_locations,\n    referring_links_countries: result.referring_links_countries,\n    history_date: new Date().toISOString().split('T')[0]\n  });\n\n  clientIndex++;\n});\n\nreturn records; \n"
      },
      "id": "b8f28b6e-6ebd-4cea-a853-307436bbc6c0",
      "name": "Process DataForSEO Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3392,
        640
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "errorMessage": "an error happned"
      },
      "id": "e110828e-fd7c-4412-a5ff-6692c1f3e1e5",
      "name": "Log Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3392,
        512
      ]
    },
    {
      "parameters": {
        "content": "## Scheduler Start \n ",
        "height": 224,
        "width": 352,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        544
      ],
      "typeVersion": 1,
      "id": "5a17aceb-0b17-49c5-9e62-0fe808fb758b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Get Domain List and Pass to DataForSEO API\n",
        "height": 384,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        464
      ],
      "typeVersion": 1,
      "id": "920c4742-178b-4a6e-ac6d-6be5870c49c1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Get DataForSEO API Response and Check for error\n",
        "height": 384,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2880,
        464
      ],
      "typeVersion": 1,
      "id": "0b1c6385-eaa1-4272-99da-8d4fb1479135",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Get Merged LLM and Report data and create a backlink record with API",
        "height": 400,
        "width": 1872,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1728,
        880
      ],
      "id": "01bf5907-6897-4e93-b603-c289243847c4",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "📊 N8N SEO – BACKLINK AUTOMATION WORKFLOW\n\n🔹 PURPOSE  \nAutomates SEO BACKLINK research & reporting using DataForSEO API and LLM OpenRouter (OpenAI) SEO Agent filter prompt, with error checks, merges, and final report creation.\n\n🔹 FLOW OVERVIEW  \n1. START PROCESS → Fetch domains & prep data  \n2. DataForSEO API Call → Give domains and Get Response  \n3. SEO AGENT → Give API data to SEO agent with filter prompt and get response  \n4. CREATE REPORT → Create report with agent response and merge with llm response\n5. ERROR CHECKS → Catch/report failures at multiple stages  \n6. CREATE BACKLINK → Create backlink with report data and llm response \n7. ERROR CHECKS → Catch/backlink failures at multiple stages  ",
        "height": 1344,
        "width": 3392,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        544,
        0
      ],
      "id": "9e7e30a5-7381-4d19-bb0b-1a089c8a66c9",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "📌 Workflow Legend  \n\n🟩 Get Domain List and Pass to DataForSEO API\n\n- Get Domains List → Fetch all domains.  \n- Process Domain and Filter Date → Prepare domains with last 24 hours time and format the data.\n- DataForSEO API Call →  Fetch data from SEO API for domains. \n\n \n🟥 Get DataForSEO API Response and Check for error\n\n- Check for API Error → Catch/DataForSEO API errors.  \n- Log Error → Log any error if any in DataForSEO API.  \n- Process DataForSEO Response → Process reponse and format .\n\n  \n🟩 Start LLM Process With Filter Prompt \n- SEO Agent → Pass the DataForSEO formated response to seo agent and get filtered resposne.  \n- OpenAI Model → Branch on success/error.  \n\n\n\n🟦 Get LLM data and create report and merge \n- Report data → Get seo agent filtered repsone and create a format for report.\n- Create Report → HTTP call to create a report with report data.  \n- Check for Report Error → Catch/report errors.  \n- Merge Report and LLM Data → get create report reponse and llm filtered response.  \n\n\n🟪 Get Merged LLM and Report data and create a backlink record with API  \n- Backlink data  → get merge report and llm filtered response and format for backlink data.  \n- Loop Over Backlink data → pass backlink to loop to process one by one .  \n- Create Backlink → POST backlink data to API.  \n- Check for Backlink Error → Catch/Backlink errors.  \n\n\n⚠️ Token usage warning  \n- OpenRouter reserves the FULL context window if no limits are set.  \n- Always set `\"max_tokens\": 256–512` to avoid 32k token charges.  \n- The `web` plugin pulls in full search results → huge input tokens.  \n- Use the plugin only when fresh data is needed.",
        "height": 992,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "553db434-e047-4fdb-b779-e5fe56197c6a",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1a2b3c4d-5e6f-7890-1234-567890abcdef",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dc8cc1da-6187-4368-94e1-c8421fe75903",
      "name": "Check for API Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3072,
        624
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1a2b3c4d-5e6f-7890-1234-567890abcdef",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a4a3644c-384e-4a79-b7b9-c9d43e853be9",
      "name": "Check for Backlink Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3328,
        1024
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3cd5839b-c918-45af-a444-6845e5c220da",
              "leftValue": "={{ $json.domains }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        592
      ],
      "id": "a393dc41-a02c-404d-bf0e-050ba0479d74",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2128,
        608
      ],
      "id": "e3b18f37-ff91-46c2-b6ba-bdf7e9864804",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Get the first input item (the full client object)\nconst input = $input.first().json;\n\nconst cleanDomain = url => {\n  if (!url) return \"\";\n  // Remove protocol\n  url = url.replace(/^https?:\\/\\//, \"\");\n  // Remove www.\n  url = url.replace(/^www\\./, \"\");\n  // Keep only domain part (in case path exists)\n  url = url.split(\"/\")[0];\n  return url;\n};\n\n// Collect all rival domains with their parent client and domain info\nconst allRivals = [];\n\n(input.client_domains || []).forEach(domain => {\n  allRivals.push({\n      client_id: input.client_id || input.id,\n      client_name: input.client_name || input.name,\n      client_domain_id: domain.client_domain_id || domain.id,\n      client_domain_title: domain.client_domain_title || domain.title,\n      client_domain: cleanDomain(domain.client_domain) || domain.target_url,\n      id: domain.client_domain_id,\n      rival_domain_title: domain.client_domain_title || domain.title,\n      rival_domain: cleanDomain(domain.client_domain) || domain.target_url,\n      current_time : domain.current_time,\n      last_six_month_date : domain.last_six_month_date\n    });\n  (domain.rival_domains || []).forEach(rival => {\n    allRivals.push({\n      client_id: input.client_id || input.id,\n      client_name: input.client_name || input.name,\n      client_domain_id: domain.client_domain_id || domain.id,\n      client_domain_title: domain.client_domain_title || domain.title,\n         current_time : domain.current_time,\n      last_six_month_date : domain.last_six_month_date,\n      client_domain: cleanDomain(domain.client_domain) || domain.target_url,\n      id: rival.id,\n      rival_domain_title: rival.rival_domain_title || rival.title,\n      rival_domain: cleanDomain(rival.rival_domain) || rival.target_url\n    });\n  });\n});\n\n// Return as n8n items\nreturn allRivals.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        624
      ],
      "id": "75c0a299-701f-42a6-9a00-b0f2fc110b20",
      "name": "Current Client Domain List"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2096,
        1008
      ],
      "id": "fbf9abe1-9da2-4bd9-99eb-637faaf567d0",
      "name": "Loop Over Backlink data"
    },
    {
      "parameters": {
        "content": "",
        "height": 384,
        "width": 512,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1984,
        464
      ],
      "typeVersion": 1,
      "id": "598ad1d8-985e-4e14-8a27-cc2575c8049f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 384,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        464
      ],
      "typeVersion": 1,
      "id": "e9061483-4017-4156-9f31-79b13d021207",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "// Generate current timestamp\nfunction getStartDate({ monthsAgo = 0, hoursAgo = 0, minDate = \"2019-01-01\" } = {}) {\n  const now = new Date();\n\n  // Subtract months or hours if provided\n  if (monthsAgo) now.setMonth(now.getMonth() - monthsAgo);\n  if (hoursAgo) now.setHours(now.getHours() - hoursAgo);\n\n  // Use minDate if calculated date is before it\n  const min = new Date(minDate);\n  const start = now < min ? min : now;\n\n  const pad = n => (n < 10 ? \"0\" + n : n);\n  const formatted = `${start.getFullYear()}-${pad(start.getMonth() + 1)}-${pad(start.getDate())}`;\n\n  return formatted;\n}\n\nconst current = getStartDate();                    \n// const last24Hours = getFormattedDate({ hoursAgo: 24 }); \nconst lastMonth = getStartDate({ monthsAgo: 1 });  \n// const last6Months = getStartDate({ monthsAgo: 6 }); \n\n// Get all input clients\nconst clients = $input.all().map(item => item.json);\n\n// Build grouped output\nconst result = [];\n\nclients.forEach(client => {\n  const clientData = {\n    client_id: client.id,\n    client_name: client.name,\n    client_domains: []\n  };\n\n  (client.client_domains || []).forEach(domain => {\n    if (!domain.rival_domains || domain.rival_domains.length === 0) return; // skip domains with no rivals\n\n    clientData.client_domains.push({\n      client_domain_id: domain.id,\n      client_domain_title: domain.title,\n      client_domain: domain.target_url,\n      current_time : current,\n      last_six_month_date : lastMonth,\n      rival_domains: domain.rival_domains.map(rival => ({\n        id: rival.id,\n        rival_domain_title: rival.title,\n        rival_domain: rival.target_url\n      }))\n    });\n  });\n\n  // only push clients that actually have domains with rivals\n  if (clientData.client_domains.length > 0) {\n    result.push(clientData);\n  }\n});\n\n// Return as n8n items\nreturn result.map(r => ({ json: r }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        608
      ],
      "id": "7a432518-5cc1-489d-bcf7-a727b381d49b",
      "name": "Get Current Month Data",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "",
        "height": 384,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2528,
        464
      ],
      "typeVersion": 1,
      "id": "3a10fff6-8c62-4a80-9ecf-23768bf70a40",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/backlinks/summary/live",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic Y29mZmVlQGFkZHdlYnNvbHV0aW9uLmNvbTozNmVlYzZhNmU2YTg1YWM1"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"target\": \"{{ $json.rival_domain }}\",\n     \"backlinks_status_type\": \"all\"\n  }\n]",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 90000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        1056
      ],
      "id": "1db4984d-d276-4c4d-940b-79d3b5d809b1",
      "name": "DataForSEO Summary API"
    },
    {
      "parameters": {
        "content": "## Get Domain and Pass to DataForSEO API\n",
        "height": 384,
        "width": 480,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        880
      ],
      "typeVersion": 1,
      "id": "4171fb31-9c59-46b9-b441-c4692801c035",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Laravel Event Based Start\n",
        "height": 224,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        928
      ],
      "typeVersion": 1,
      "id": "ecc6329b-7e72-487e-acfb-006d45b4090b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "run/summary/flow",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        960,
        992
      ],
      "id": "7fa55522-b8b6-4411-aded-d4197a417c91",
      "name": "Summary Weebhook",
      "webhookId": "bc2adfa4-1598-4b5b-ae7b-7e3f88456510"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1296,
        992
      ],
      "id": "0351379c-5814-498e-b334-513fcd77c89b",
      "name": "Wait",
      "webhookId": "a1ee2920-34d2-4037-aace-5dcccc1ea3e3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://seo-stream-stg.addwebprojects.com/api/backlinkhistory/updateorcreate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization ",
              "value": "Bearer B82VKlSDTYxos6EvFeNW1Vftrltp42NxmIzXRpqs180daac8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json}}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2848,
        1024
      ],
      "id": "99bcd017-793e-4c53-b963-34c048e72229",
      "name": "Create Backlink History"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.body\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        992
      ],
      "id": "1d074fa2-6618-4c01-a53f-bc4961d765c5",
      "name": "Format Webhook Data"
    },
    {
      "parameters": {
        "operation": "get-backlink-summary",
        "target": "={{ $json.rival_domain }}",
        "backlinks_status_type": "all",
        "internal_list_limit": null
      },
      "type": "n8n-nodes-dataforseo.dataForSeo",
      "typeVersion": 1,
      "position": [
        2640,
        624
      ],
      "id": "3fdd3151-ebf2-4684-8e6d-63f9bb1ca93e",
      "name": "Get backlink summary",
      "credentials": {
        "dataForSeoApi": {
          "id": "2yGvbF0oN29ZazZv",
          "name": "DataForSEO account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Domains List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Domains List": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process DataForSEO Response": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for API Error": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process DataForSEO Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Backlink Error": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Backlink data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Get Current Month Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Backlink data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Current Client Domain List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Current Client Domain List": {
      "main": [
        [
          {
            "node": "Get backlink summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Backlink data": {
      "main": [
        [],
        [
          {
            "node": "Create Backlink History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Month Data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataForSEO Summary API": {
      "main": [
        []
      ]
    },
    "Summary Weebhook": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Format Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Backlink History": {
      "main": [
        [
          {
            "node": "Check for Backlink Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Webhook Data": {
      "main": [
        [
          {
            "node": "Get Current Month Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get backlink summary": {
      "main": [
        [
          {
            "node": "Check for API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5d2c3a79-bddb-481d-a547-ba1b7c839332",
  "meta": {
    "instanceId": "29e3afd51a041bd4690a287a9578813e88030cec004df9cbfbb33a08c4c74783"
  },
  "id": "8AhvWmcEKgmvl6nW",
  "tags": [
    {
      "createdAt": "2025-10-17T06:38:09.809Z",
      "updatedAt": "2025-10-17T06:38:09.809Z",
      "id": "x9U8nMaDu2nELe12",
      "name": "Summary"
    },
    {
      "createdAt": "2025-10-17T06:38:19.229Z",
      "updatedAt": "2025-10-17T06:38:19.229Z",
      "id": "qqiD45fO2vTkHTzX",
      "name": "Current Month"
    },
    {
      "createdAt": "2025-10-10T12:28:45.037Z",
      "updatedAt": "2025-10-10T12:28:45.037Z",
      "id": "4t6o6np8icPWjyeM",
      "name": "BACKLINK 2.0"
    },
    {
      "createdAt": "2025-10-30T07:10:29.767Z",
      "updatedAt": "2025-10-30T07:10:29.767Z",
      "id": "tomeoZpM8JFcKn3x",
      "name": "STG"
    }
  ]
}