n8n_flow/prd/SEO Backlink Live API  Flow PRD.json
{
  "name": "SEO Backlink Live API  Flow PRD",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "id": "7f2584cf-8c05-4ead-80ca-62818aedc303",
      "name": "Daily Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        576,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://seo-stream.addwebprojects.com/api/user/client/domains\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer KAl1EUeNgaE0OTnVIaPKc9tJUnMco38c7rNo5hr88e083b3e"
            },
            {
              "name": "Cookie",
              "value": "XSRF-TOKEN=eyJpdiI6ImtSUlJld1BMREwxajh3cEgvRkx3UEE9PSIsInZhbHVlIjoiR2xkQ21LN3V3ZEF0SVVoNGpnZThIS2RkSExveEdGRWFFMjV2dHI5RlVjbzY2VFhabWlrTVRYaHdjbytHYklWZnFNTzVqV3c0MWV4aSsxb3YxTnhsOEdrRWl6NDlMVDFQdUJ1REs3Mjg2TnVET1JvN0s5RlE0TmpHU0ozc3NNemYiLCJtYWMiOiIyMjZlY2ZjOTg4ZmYyMTgyZmRhODc1Y2UwNTc2MGUxYjRiZjM3MWU2YTAyNmM3NmRlZGRjNGI1NjZiN2ZiODg1IiwidGFnIjoiIn0%3D; laravel_session=eyJpdiI6ImI1ZnZsR2o5RUIvZDk4WjVUV1Q3SlE9PSIsInZhbHVlIjoiaWliVzJuQlBNVEdxcGVnMFlxWHdjUGR0RTI4QWpsemlqS3ozZDVVNVNoR3ZKY0dFVjFRczgvbjFNZkhsaGFBb00zeEI1cWhFUWgxVU9KYWgybUZwSEFNRW8zRHg4RzJHTXE2RUNYTEgwOFE3NmlHWUtKK1VEOE5GL3F5cktuUWMiLCJtYWMiOiI3Y2QxYjQ3OTYxOTNmYzYyOTVmNTQ0MzAwMGEwZjVjNDk4ZjVkOWM3YmJjNDZiZTFmMjA5NTM4YTM3M2IwYjJhIiwidGFnIjoiIn0%3D"
            },
            {
              "name": "cookie",
              "value": "XSRF-TOKEN=eyJpdiI6ImtSUlJld1BMREwxajh3cEgvRkx3UEE9PSIsInZhbHVlIjoiR2xkQ21LN3V3ZEF0SVVoNGpnZThIS2RkSExveEdGRWFFMjV2dHI5RlVjbzY2VFhabWlrTVRYaHdjbytHYklWZnFNTzVqV3c0MWV4aSsxb3YxTnhsOEdrRWl6NDlMVDFQdUJ1REs3Mjg2TnVET1JvN0s5RlE0TmpHU0ozc3NNemYiLCJtYWMiOiIyMjZlY2ZjOTg4ZmYyMTgyZmRhODc1Y2UwNTc2MGUxYjRiZjM3MWU2YTAyNmM3NmRlZGRjNGI1NjZiN2ZiODg1IiwidGFnIjoiIn0%3D;laravel_session=eyJpdiI6ImI1ZnZsR2o5RUIvZDk4WjVUV1Q3SlE9PSIsInZhbHVlIjoiaWliVzJuQlBNVEdxcGVnMFlxWHdjUGR0RTI4QWpsemlqS3ozZDVVNVNoR3ZKY0dFVjFRczgvbjFNZkhsaGFBb00zeEI1cWhFUWgxVU9KYWgybUZwSEFNRW8zRHg4RzJHTXE2RUNYTEgwOFE3NmlHWUtKK1VEOE5GL3F5cktuUWMiLCJtYWMiOiI3Y2QxYjQ3OTYxOTNmYzYyOTVmNTQ0MzAwMGEwZjVjNDk4ZjVkOWM3YmJjNDZiZTFmMjA5NTM4YTM3M2IwYjJhIiwidGFnIjoiIn0%3D;"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "583ab99d-9a93-4615-ba01-1b6e6a4becd4",
      "name": "Get Domains List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1136,
        304
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/backlinks/backlinks/live",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic Y29mZmVlQGFkZHdlYnNvbHV0aW9uLmNvbTozNmVlYzZhNmU2YTg1YWM1"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"target\": \"{{ $json.rival_domain}}\",\n    \"limit\": 10,\n    \"internal_list_limit\": 10,\n    \"backlinks_status_type\": \"live\",\n    \"include_subdomains\": true,\n    \"exclude_internal_backlinks\": true,\n    \"include_indirect_links\": true,\n    \"mode\": \"as_is\",\n    \"rank_scale\": \"one_hundred\"\n  }\n]\n",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 90000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        928
      ],
      "id": "46370acc-8662-4973-98d3-93e50528405d",
      "name": "DataForSEO API Call"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all(); // all items passed to this node\nconst results = [];\n\nfor (const item of inputItems) {\n  const inputData = item.json;\n\n  let processedData = {\n    domain: null,\n    targetUrl: '',\n    totalBacklinks: 0,\n    topBacklinks: [],\n    summary: {\n      avgRank: 0,\n      dofollowCount: 0,\n      nofollowCount: 0,\n      brokenLinks: 0,\n      avgSpamScore: 0\n    },\n    processed_at: new Date().toISOString(),\n    error: null\n  };\n\n  try {\n    if (inputData && inputData.tasks && inputData.tasks[0] && inputData.tasks[0].result && inputData.tasks[0].result[0]) {\n      const result = inputData.tasks[0].result[0];\n      const items = result.items || [];\n\n      processedData.domain = result.target;\n      processedData.targetUrl = result.target;\n      processedData.totalBacklinks = result.total_count || 0;\n\n      let totalRank = 0;\n      let totalSpamScore = 0;\n\n      items.forEach(item => {\n        const backlink = {\n          fromDomain: item.domain_from,\n          fromUrl: item.url_from,\n          anchor: item.anchor || 'No anchor text',\n          rank: item.rank || 0,\n          domainRank: item.domain_from_rank || 0,\n          spamScore: item.backlink_spam_score || 0,\n          dofollow: item.dofollow || false,\n          isBroken: item.is_broken || false,\n          firstSeen: item.first_seen,\n          lastSeen: item.last_seen,\n          linkType: item.item_type,\n          pageTitle: item.page_from_title || 'Unknown'\n        };\n\n        processedData.topBacklinks.push(backlink);\n        totalRank += backlink.rank;\n        totalSpamScore += backlink.spamScore;\n\n        backlink.dofollow ? processedData.summary.dofollowCount++ : processedData.summary.nofollowCount++;\n        if (backlink.isBroken) processedData.summary.brokenLinks++;\n      });\n\n      if (items.length > 0) {\n        processedData.summary.avgRank = Math.round(totalRank / items.length);\n        processedData.summary.avgSpamScore = Math.round(totalSpamScore / items.length);\n      }\n\n    } else {\n      processedData.error = 'Invalid API response format';\n    }\n  } catch (error) {\n    processedData.error = `Processing error: ${error.message}`;\n  }\n\n  results.push({ json: processedData });\n}\n\nreturn results;\n"
      },
      "id": "881a1fa2-bd40-40e5-9568-bbb83c8fe20f",
      "name": "Process DataForSEO Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        368
      ]
    },
    {
      "parameters": {
        "errorMessage": "an error happned"
      },
      "id": "39b8d83b-25bd-4046-8c89-113a76c07ec0",
      "name": "Log Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2832,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate timestamp 24 hours BEFORE now (IST)\nconst IST_OFFSET = 5.5 * 60 * 60 * 1000; // IST offset in milliseconds\nconst date = new Date(Date.now() - 24 * 60 * 60 * 1000 + IST_OFFSET);\n\nconst pad = (n) => (n < 10 ? '0' + n : n);\n\nconst time = `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())} ${pad(date.getHours())}:${pad(date.getMinutes())}:${pad(date.getSeconds())} +05:30`;\n\n\n// Get all input clients\nconst clients = $input.all().map(item => item.json);\n\n// Build grouped output\nconst result = [];\n\nclients.forEach(client => {\n  const clientData = {\n    client_id: client.id,\n    client_name: client.name,\n    client_domains: []\n  };\n\n  (client.client_domains || []).forEach(domain => {\n    if (!domain.rival_domains || domain.rival_domains.length === 0) return; // skip domains with no rivals\n\n    clientData.client_domains.push({\n      client_domain_id: domain.id,\n      client_domain_title: domain.title,\n      client_domain: domain.target_url,\n      date: time ,\n      rival_domains: domain.rival_domains.map(rival => ({\n        id: rival.id,\n        rival_domain_title: rival.title,\n        rival_domain: rival.target_url,\n        date: time // 24h before current UTC time\n      }))\n    });\n  });\n\n  // only push clients that actually have domains with rivals\n  if (clientData.client_domains.length > 0) {\n    result.push(clientData);\n  }\n});\n\n// Return as n8n items\nreturn result.map(r => ({ json: r }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        304
      ],
      "id": "ac34ba9d-7237-45c7-83c3-3963857a72d6",
      "name": "Process Domain and Filter Date"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://seo-stream.addwebprojects.com/api/report/store",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer KAl1EUeNgaE0OTnVIaPKc9tJUnMco38c7rNo5hr88e083b3e"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "run_id",
              "value": "={{ $json.run_id }}"
            },
            {
              "name": "domain_count",
              "value": "={{ $json.domain_count }}"
            },
            {
              "name": "total_backlink",
              "value": "={{ $json.total_backlink }}"
            },
            {
              "name": "accepted_backlinks",
              "value": "={{ $json.accepted_backlinks }}"
            },
            {
              "name": "rejected_backlinks",
              "value": "={{ $json.rejected_backlinks }}"
            },
            {
              "name": "run_at",
              "value": "="
            },
            {
              "name": "client_id",
              "value": "={{ $json.client_id }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2912,
        704
      ],
      "id": "28e293ce-d052-43cd-bf76-1233bb98a8ea",
      "name": "Create Report"
    },
    {
      "parameters": {
        "jsCode": "let totalDomains = 0;\nlet totalAccepted = 0;\nlet totalRejected = 0;\nlet client_id =  $('Loop Over Items').first().json.client_id\n\nconst data = $input.all();\n\nfor (const item of data) {\n  if (!item.json) continue; // skip if no json\n  // Each item.json is an object with domains as keys\n  const domainDataObj = item.json;\n\n  for (const domainKey of Object.keys(domainDataObj)) {\n    totalDomains++;\n\n    console.log('data',domainDataObj[domainKey]);\n    const domainData = domainDataObj[domainKey];\n\n    // console.log('data',typeof(domainData));\n    const jsonData = JSON.parse(domainData);\n    \n    \n    if (Array.isArray(jsonData.accepted)) {\n      totalAccepted += jsonData.accepted.length;\n    }\n\n    if (Array.isArray(jsonData.rejected)) {\n      totalRejected += jsonData.rejected.length;\n    }\n  }\n}\n\nconst totalBacklinks = totalAccepted + totalRejected;\n// Generate unique run ID using timestamp\nconst runId = `RUN-${Date.now()}`;\n\n\nreturn [\n  {\n    json: {\n      run_id: runId,\n      client_id : client_id,\n      domain_count: totalDomains,\n      total_backlink: totalBacklinks,\n      accepted_backlinks: totalAccepted,\n      rejected_backlinks: totalRejected,\n      run_at: new Date().toISOString(),\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        704
      ],
      "id": "0421853b-c48d-4063-8784-c2944d3149b9",
      "name": "Report data"
    },
    {
      "parameters": {
        "jsCode": "// Input\nconst data = $input.all(); \nconst clientDomains = $('Current Client Domain List').all().map(i => i.json);\n\n\nconst reportId = $input.last().json.data.id;\nconst clientId = $input.last().json.data.client_id;\nlet domain_title = null\n\nconst backlinkPayloads = [];\n\nfor (const [index, item] of data.entries()) {\n  if (!item.json.output) continue;\n\n  const backlinkParsed = JSON.parse(item.json.output);\n\n  const client_title = clientDomains[index];\n  const pushLinks = (arr, status) => {\n    for (const link of arr) {\n      console.log('add',link);\n      const targetUrl = backlinkParsed.domain;\n\n      backlinkPayloads.push({\n        report_id: reportId,\n        target_domain : client_title.rival_domain_title,\n        target_url: targetUrl,\n        client_id : clientId.id,\n        domain: client_title.client_domain_title,\n        domain_url : client_title.client_domain,\n        from_domain: link.url,\n        rank: link.rank ?? null,\n        domain_rank: link.domainRank ?? null,\n        spam_score: link.spamScore|| null,\n        do_follow: link.dofollow ? 1 : 0,\n        tier: parseInt(link.tier?.replace(\"Tier \", \"\"), 10) || 0,\n\n        score: link.score ?? 0,\n        is_broken: link.isBroken ? 1 : 0,\n        url: link.url,\n        from_url: link.fromUrl,\n        anchor: link.anchor ?? null,\n        status,\n        reason: link.reason ?? null,\n       first_seen: link.firstSeen ? new Date(link.firstSeen).toISOString().slice(0, 19).replace('T', ' ') : null,\nlast_seen: link.lastSeen ? new Date(link.lastSeen).toISOString().slice(0, 19).replace('T', ' ') : null,\n\n        link_type: \"contextual\",\n        page_title: link.pageTitle ?? null\n      });\n    }\n  };\n\n  pushLinks(backlinkParsed.accepted || [], \"accepted\");\n  pushLinks(backlinkParsed.rejected || [], \"rejected\");\n}\n\n// Return one item per backlink\nreturn backlinkPayloads.map(b => ({\n  json: { api: \"backlinkdatum/store\", payload: b }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        1024
      ],
      "id": "596b1715-8997-42ef-a17c-d02dd18c2fd8",
      "name": "Backlink data "
    },
    {
      "parameters": {
        "content": "## Start Here",
        "height": 224,
        "width": 352,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        240
      ],
      "typeVersion": 1,
      "id": "8780486a-a409-47e2-b1c3-9fa0680b6124",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Get Domain List and Pass to DataForSEO API\n",
        "height": 384,
        "width": 1184,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        192
      ],
      "typeVersion": 1,
      "id": "b8c0ac04-fe41-440a-a227-59fae951cab5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Start LLM Process With Filter Prompt",
        "height": 640,
        "width": 1088
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        592
      ],
      "typeVersion": 1,
      "id": "a8bf459b-6d24-421c-a399-9cb2ceff99ec",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Get DataForSEO API Response and Check for error\n",
        "height": 384,
        "width": 1136,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2000,
        192
      ],
      "typeVersion": 1,
      "id": "32090823-d480-4dfd-b65e-03d3b6bd5bfd",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Get LLM data and create report and merge",
        "height": 640,
        "width": 1232,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        592
      ],
      "typeVersion": 1,
      "id": "7202efe4-485c-4d07-af7f-9432bbbc97cc",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Get Merged LLM and Report data and create a backlink record with API",
        "height": 400,
        "width": 1616,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1520,
        1248
      ],
      "id": "04177c11-d206-41b5-9c99-8d5c1f6df45b",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "📊 N8N SEO – BACKLINK AUTOMATION WORKFLOW\n\n🔹 PURPOSE  \nAutomates SEO BACKLINK research & reporting using DataForSEO API and LLM OpenRouter (OpenAI) SEO Agent filter prompt, with error checks, merges, and final report creation.\n\n🔹 FLOW OVERVIEW  \n1. START PROCESS → Fetch domains & prep data  \n2. DataForSEO API Call → Give domains and Get Response  \n3. SEO AGENT → Give API data to SEO agent with filter prompt and get response  \n4. CREATE REPORT → Create report with agent response and merge with llm response\n5. ERROR CHECKS → Catch/report failures at multiple stages  \n6. CREATE BACKLINK → Create backlink with report data and llm response \n7. ERROR CHECKS → Catch/backlink failures at multiple stages  ",
        "height": 1984,
        "width": 3392,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        -256
      ],
      "id": "f4de7b72-f127-4804-b41d-f9794f30b4a8",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "📌 Workflow Legend  \n\n🟩 Get Domain List and Pass to DataForSEO API\n\n- Get Domains List → Fetch all domains.  \n- Process Domain and Filter Date → Prepare domains with last 24 hours time and format the data.\n- DataForSEO API Call →  Fetch data from SEO API for domains. \n\n \n🟥 Get DataForSEO API Response and Check for error\n\n- Check for API Error → Catch/DataForSEO API errors.  \n- Log Error → Log any error if any in DataForSEO API.  \n- Process DataForSEO Response → Process reponse and format .\n\n  \n🟩 Start LLM Process With Filter Prompt \n- SEO Agent → Pass the DataForSEO formated response to seo agent and get filtered resposne.  \n- OpenAI Model → Branch on success/error.  \n\n\n\n🟦 Get LLM data and create report and merge \n- Report data → Get seo agent filtered repsone and create a format for report.\n- Create Report → HTTP call to create a report with report data.  \n- Check for Report Error → Catch/report errors.  \n- Merge Report and LLM Data → get create report reponse and llm filtered response.  \n\n\n🟪 Get Merged LLM and Report data and create a backlink record with API  \n- Backlink data  → get merge report and llm filtered response and format for backlink data.  \n- Loop Over Backlink data → pass backlink to loop to process one by one .  \n- Create Backlink → POST backlink data to API.  \n- Check for Backlink Error → Catch/Backlink errors.  \n\n\n⚠️ Token usage warning  \n- OpenRouter reserves the FULL context window if no limits are set.  \n- Always set `\"max_tokens\": 256–512` to avoid 32k token charges.  \n- The `web` plugin pulls in full search results → huge input tokens.  \n- Use the plugin only when fresh data is needed.",
        "height": 992,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -368,
        -256
      ],
      "id": "f782b986-5730-4977-944d-fdd9d18026d5",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an SEO assistant. Use the following rules to evaluate and filter backlink data. You MUST return your response **only in JSON** format, with two sections:\n- `\"accepted\"`: Backlinks that meet all criteria\n- `\"rejected\"`: Backlinks that fail any rule, with a `reason` explaining why\n\nDo NOT include any Markdown code fences, comments, or extra text.\n\n--- SEO Filtering Rules (Summary) ---\n\n🔹 Section A: Rank & Authority  \n- Minimum domain rank: 30  \n- High quality threshold: 40  \n- Domain age: no limit  \n- Backlink history: required (2019+)  \n- Accept stable or growing link history  \n\n🔹 Section B: Spam & Link Quality  \n- Spam score must be under 10%  \n- Reject spam score > 60%  \n- Required: dofollow ratio ≥ 80%, status = 200, content type = text/html  \n- Avoid red flags (5xx errors, unusual size, missing content type)  \n\n🔹 Section C: Link Context  \n- Anchor types allowed: branded, exact match, partial match, generic, naked  \n- Max exact match anchor: 40%  \n- Contextual placement only  \n- Must match page topic  \n\n🔹 Section D: Geo & TLD  \n- Accept: USA, UK, UAE, AU  \n- Preferred TLDs: .com, .org, .edu, .gov, .co.uk, .ae, .au  \n\n🔹 Section E: Tiering  \nTier 1 (80–100): domain_rank ≥ 60, spam ≤ 5%, ref_domains ≥ 500\n\nTier 2 (60–79): domain_rank ≥ 45, spam ≤ 10%, ref_domains ≥ 300\n\nTier 3 (40–59): domain_rank ≥ 30, spam ≤ 20%, ref_domains ≥ 100\n\nscore must also be assigned (0–100) based on backlink quality signals (authority, spam, link history, context, geo). \n\n---\n\nNow, evaluate the backlink JSON provided below. For each backlink, return in JSON format for acceped and reject:\n\n\"domain\": \"sample-accepted.com\",\n\"url\": \"https://sample-accepted.com/page\",\n\"score\": [EVALUATED RANK 0-100 integer],\n\"tier\": \"evalutate the link and give it tier based on section E\",\n\"fromDomain\": \"sample-accepted.com\",\n\"fromUrl\": \"https://sample-accepted.com/page\",\n\"anchor\": \"Best web development agency\",\n\"rank\": evalutate rnk based on backlink data,\n\"domainRank\": 80,\n\"spamScore\": 3,\n\"dofollow\": true,\n\"isBroken\": false,\n\"firstSeen\": \"2024-01-10 09:15:00 +00:00\",\n\"lastSeen\": \"2025-08-15 14:20:00 +00:00\",\n\"linkType\": \"anchor\",\n\"pageTitle\": \"Top Web Development Agency – Sample Accepted\",\n\"reason\": \"Passed all filters including authority, low spam \n\n\n📌 Output strictly in the following JSON format:\n--- Output JSON Structure ---\n\n{\n  \"domain\": \"example.com\",\n  \"accepted\": [\n    {\n      \"domain\": \"sample-accepted.com\",\n      \"url\": \"https://sample-accepted.com/page\",\n      \"score\": [CALCULATED SCORE 0-100],\n      \"tier\": \"[Tier 1/Tier 2/Tier 3 based on domain_rank/spam/ref_domains]\",\n      \"fromDomain\": \"sample-accepted.com\",\n      \"fromUrl\": \"https://sample-accepted.com/page\",\n      \"anchor\": \"Best web development agency\",\n      \"rank\": 75,\n      \"domainRank\": 80,\n      \"spamScore\": 3,\n      \"dofollow\": true,\n      \"isBroken\": false,\n      \"firstSeen\": \"2024-01-10 09:15:00 +00:00\",\n      \"lastSeen\": \"2025-08-15 14:20:00 +00:00\",\n      \"linkType\": \"anchor\",\n      \"pageTitle\": \"Top Web Development Agency – Sample Accepted\",\n      \"reason\": \"Passed all filters including authority, low spam score, and correct geo.\"\n    }\n  ],\n  \"rejected\": [\n    {\n      \"domain\": \"sample-rejected.com\",\n      \"url\": \"https://sample-rejected.com/spammy-page\",\n      \"fromDomain\": \"sample-rejected.com\",\n      \"score\":[CALCULATED SCORE 0-100],\n      \"tier\": \"[Tier 1/Tier 2/Tier 3 based on domain_rank/spam/ref_domains]\",\n      \"fromUrl\": \"https://sample-rejected.com/spammy-page\",\n      \"anchor\": \"Cheap backlinks\",\n      \"rank\": 20,\n      \"domainRank\": 25,\n      \"spamScore\": 45,\n      \"dofollow\": false,\n      \"isBroken\": false,\n      \"firstSeen\": \"2024-02-05 11:00:00 +00:00\",\n      \"lastSeen\": \"2025-06-22 18:45:00 +00:00\",\n      \"linkType\": \"anchor\",\n      \"pageTitle\": \"Buy 1000 Backlinks – Spammy Page\",\n      \"reason\": \"Spam score too high (45%) and domain rank below minimum threshold.\"\n    }\n  ]\n}\n\n\nPlease evaluate the following backlink JSON data and filter based on the SEO rules:\n\n{{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1216,
        784
      ],
      "id": "a22a8f39-4dc9-4ed1-8374-214ffffd41e9",
      "name": "SEO Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 5500
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1168,
        944
      ],
      "id": "c104190e-07a5-49c6-8fdd-b80d1b169af4",
      "name": "OpenAI Model",
      "credentials": {
        "openRouterApi": {
          "id": "oCIGHL78MpDVNQJ8",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1a2b3c4d-5e6f-7890-1234-567890abcdef",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "90ff3843-53cb-4fed-8905-295956cfd4bd",
      "name": "Check for API Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2624,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1a2b3c4d-5e6f-7890-1234-567890abcdef",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1713fd4-4d18-40bc-a964-678b731655bf",
      "name": "Check for Report Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2768,
        944
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1a2b3c4d-5e6f-7890-1234-567890abcdef",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8bc314fe-b7b1-4b50-9382-8ae2bf19c18b",
      "name": "Check for Backlink Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2752,
        1392
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2416,
        800
      ],
      "id": "614551c4-6354-433b-9d36-3aaf541390ea",
      "name": "Merge Report and LLM Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3cd5839b-c918-45af-a444-6845e5c220da",
              "leftValue": "={{ $json.domains }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1344,
        304
      ],
      "id": "c047b79d-1433-46fd-8dd7-376e16d4fea1",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://seo-stream.addwebprojects.com/api/backlinkdatum/store",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer KAl1EUeNgaE0OTnVIaPKc9tJUnMco38c7rNo5hr88e083b3e"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2352,
        1392
      ],
      "id": "4d954a11-6b70-423c-a710-2c78b7ad36d6",
      "name": "Create Backlink"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1760,
        304
      ],
      "id": "b6ee089a-29a8-4374-b382-5137c01fe1d7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Get the first input item (the full client object)\nconst input = $input.first().json;\n\n// Collect all rival domains with their parent client and domain info\nconst allRivals = [];\n\n(input.client_domains || []).forEach(domain => {\n  allRivals.push({\n      client_id: input.client_id || input.id,\n      client_name: input.client_name || input.name,\n      client_domain_id: domain.client_domain_id || domain.id,\n      client_domain_title: domain.client_domain_title || domain.title,\n      client_domain: domain.client_domain || domain.target_url,\n      id: domain.client_domain_id,\n      rival_domain_title: domain.client_domain_title || domain.title,\n      rival_domain: domain.client_domain || domain.target_url,\n      date: domain.date,\n    });\n  (domain.rival_domains || []).forEach(rival => {\n    allRivals.push({\n      client_id: input.client_id || input.id,\n      client_name: input.client_name || input.name,\n      client_domain_id: domain.client_domain_id || domain.id,\n      client_domain_title: domain.client_domain_title || domain.title,\n      client_domain: domain.client_domain || domain.target_url,\n      id: rival.id,\n      rival_domain_title: rival.rival_domain_title || rival.title,\n      rival_domain: rival.rival_domain || rival.target_url,\n      date: rival.date,\n    });\n  });\n});\n\n// Return as n8n items\nreturn allRivals.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        320
      ],
      "id": "b094c71e-40bf-48c6-84fc-6e836d2635ad",
      "name": "Current Client Domain List"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1616,
        1376
      ],
      "id": "3027515b-2c6d-4f8e-9378-060848dc8fbd",
      "name": "Loop Over Backlink data"
    },
    {
      "parameters": {
        "jsCode": "// Define all environments\nconst envs = {\n  local: {\n    BASE_URL: \"http://127.0.0.1:8000/\",\n  },\n  stg: {\n    BASE_URL: \"https://seo-backlink.addwebprojects.com\",\n  },\n  prd: {\n    BASE_URL: \"https://seo-stream.addwebprojects.com\",\n  },\n}\n\n// ✅ Choose active environment here\nconst active = \"prd\" // change to 'local' | 'stg' | 'prd'\n\n// Output active environment data\nreturn [\n  {\n    json: {\n      env: active,\n      baseUrl: envs[active].BASE_URL,\n    },\n  },\n]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        304
      ],
      "id": "2aeb8da8-7a35-4adb-bbe2-db877eab3b93",
      "name": "ENV"
    },
    {
      "parameters": {
        "target": "={{ $json.rival_domain }}",
        "limit": null,
        "offset": null,
        "filters": "=[\"first_seen\",\">\",\"{{ $json.date }}\" ]"
      },
      "type": "n8n-nodes-dataforseo.dataForSeo",
      "typeVersion": 1,
      "position": [
        2368,
        320
      ],
      "id": "a3a915da-1154-47d1-9980-2906b60d999f",
      "name": "Get backlinks",
      "credentials": {
        "dataForSeoApi": {
          "id": "2yGvbF0oN29ZazZv",
          "name": "DataForSEO account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2096,
        784
      ],
      "id": "b4bbe9cb-c262-43e9-981a-35f6525f31a5",
      "name": "Wait",
      "webhookId": "395f4082-b7be-4ae5-b06f-7f3249ca91b5"
    },
    {
      "parameters": {
        "jsCode": "// N8N Code Node - Backlink Analysis Email Report Generator\n// Input: Array of backlink data from your JSON\n// Output: Formatted HTML and text email with domain-based organization\n\nconst data = $input.all();\n\n// Group data by target domain\nconst domainData = {};\n\ndata.forEach(item => {\n  const entry = item.json.data || item.json;\n  const targetDomain = entry.target_domain || 'Unknown Domain';\n  \n  if (!domainData[targetDomain]) {\n    domainData[targetDomain] = {\n      target_url: entry.target_url || '',\n      accepted: [],\n      rejected: []\n    };\n  }\n  \n  const linkData = {\n    from_domain: entry.from_domain || entry.domain || '',\n    url: entry.url || entry.from_url || '',\n    from_url: entry.from_url || '',\n    anchor: entry.anchor || 'No anchor text',\n    rank: entry.rank || 0,\n    domain_rank: entry.domain_rank || 0,\n    spam_score: entry.spam_score !== null ? entry.spam_score : 'N/A',\n    do_follow: entry.do_follow ? 'Yes' : 'No',\n    tier: entry.tier || 'N/A',\n    score: entry.score || 0,\n    is_broken: entry.is_broken ? 'Yes' : 'No',\n    link_type: entry.link_type || 'N/A',\n    page_title: entry.page_title || 'Untitled',\n    reason: entry.reason || 'No reason provided',\n    first_seen: entry.first_seen || 'N/A',\n    last_seen: entry.last_seen || 'N/A'\n  };\n  \n  if (entry.status === 'accepted') {\n    domainData[targetDomain].accepted.push(linkData);\n  } else {\n    domainData[targetDomain].rejected.push(linkData);\n  }\n});\n\n// Calculate totals\nconst totalDomains = Object.keys(domainData).length;\nlet totalAccepted = 0;\nlet totalRejected = 0;\n\nObject.values(domainData).forEach(data => {\n  totalAccepted += data.accepted.length;\n  totalRejected += data.rejected.length;\n});\n\nconst totalLinks = totalAccepted + totalRejected;\nconst currentDate = new Date().toLocaleDateString('en-US', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nfunction formatNumber(num) {\n  return new Intl.NumberFormat().format(num);\n}\n\nfunction getTierBadge(tier) {\n  const colors = {\n    '1': { bg: '#10b981', text: 'Tier 1' },\n    '2': { bg: '#f59e0b', text: 'Tier 2' },\n    '3': { bg: '#ef4444', text: 'Tier 3' }\n  };\n  const config = colors[tier] || { bg: '#6b7280', text: `Tier ${tier}` };\n  return `<span style=\"background: ${config.bg}; color: white; padding: 4px 12px; border-radius: 16px; font-size: 0.75rem; font-weight: 600; display: inline-block;\">${config.text}</span>`;\n}\n\nfunction truncateUrl(url, maxLength = 50) {\n  if (!url) return '-';\n  if (url.length <= maxLength) return url;\n  return url.substring(0, maxLength) + '...';\n}\n\nfunction extractDomain(url) {\n  if (!url) return '-';\n  try {\n    return new URL(url).hostname.replace('www.', '');\n  } catch {\n    return url.replace(/^https?:\\/\\/(www\\.)?/, '').split('/')[0];\n  }\n}\n\nfunction formatDate(dateStr) {\n  if (!dateStr || dateStr === 'N/A') return 'N/A';\n  try {\n    return new Date(dateStr).toLocaleDateString('en-US', { \n      year: 'numeric', \n      month: 'short', \n      day: 'numeric' \n    });\n  } catch {\n    return dateStr;\n  }\n}\n\n// Generate HTML Email\nlet html = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Backlink Analysis Report</title>\n    <style>\n        body {\n            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            max-width: 1200px;\n            margin: 0 auto;\n            padding: 20px;\n            background-color: #f5f5f5;\n        }\n        .container {\n            background: white;\n            border-radius: 8px;\n            overflow: hidden;\n            box-shadow: 0 2px 8px rgba(0,0,0,0.1);\n        }\n        .header {\n            background: linear-gradient(135deg, #1f2937 0%, #374151 100%);\n            color: white;\n            padding: 40px 30px;\n            text-align: center;\n        }\n        .header h1 {\n            margin: 0 0 10px 0;\n            font-size: 2rem;\n        }\n        .header p {\n            margin: 5px 0;\n            opacity: 0.9;\n        }\n        .overview {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n            gap: 20px;\n            padding: 30px;\n            background: #f9fafb;\n        }\n        .overview-card {\n            background: white;\n            padding: 20px;\n            border-radius: 8px;\n            text-align: center;\n            border: 1px solid #e5e7eb;\n        }\n        .overview-card h3 {\n            font-size: 0.875rem;\n            color: #6b7280;\n            margin: 0 0 10px 0;\n            text-transform: uppercase;\n            letter-spacing: 0.05em;\n        }\n        .overview-card .number {\n            font-size: 2rem;\n            font-weight: bold;\n            color: #2563eb;\n        }\n        .overview-card.success .number { color: #10b981; }\n        .overview-card.danger .number { color: #ef4444; }\n        .domain-section {\n            margin: 30px;\n            border: 1px solid #e5e7eb;\n            border-radius: 8px;\n            overflow: hidden;\n        }\n        .domain-header {\n            background: linear-gradient(135deg, #2563eb 0%, #1d4ed8 100%);\n            color: white;\n            padding: 25px 30px;\n        }\n        .domain-title {\n            font-size: 1.5rem;\n            margin: 0 0 10px 0;\n        }\n        .domain-stats {\n            font-size: 0.875rem;\n            opacity: 0.9;\n            color: white;\n        }\n        .subsection {\n            margin: 25px 30px;\n        }\n        .subsection-header {\n            padding: 15px 20px;\n            border-radius: 6px;\n            font-weight: 600;\n            margin-bottom: 15px;\n            color: white;\n        }\n        .accepted-header { background: #10b981; }\n        .rejected-header { background: #ef4444; }\n        table {\n            width: 100%;\n            border-collapse: collapse;\n            background: white;\n            font-size: 0.875rem;\n        }\n        th {\n            background: #f9fafb;\n            padding: 12px;\n            text-align: left;\n            font-weight: 600;\n            color: #374151;\n            border-bottom: 2px solid #e5e7eb;\n            font-size: 0.75rem;\n            text-transform: uppercase;\n        }\n        td {\n            padding: 15px 12px;\n            border-bottom: 1px solid #f3f4f6;\n            vertical-align: top;\n        }\n        tr:hover {\n            background: #f9fafb;\n        }\n        .domain-link {\n            color: #2563eb;\n            text-decoration: none;\n            word-break: break-all;\n        }\n        .domain-link:hover {\n            text-decoration: underline;\n        }\n        .badge {\n            display: inline-block;\n            padding: 4px 8px;\n            border-radius: 4px;\n            font-size: 0.75rem;\n            font-weight: 600;\n        }\n        .badge-success { background: #d1fae5; color: #065f46; }\n        .badge-danger { background: #fee2e2; color: #991b1b; }\n        .badge-warning { background: #fef3c7; color: #92400e; }\n        .no-data {\n            text-align: center;\n            padding: 40px;\n            color: #6b7280;\n            font-style: italic;\n        }\n        .footer {\n            background: #1f2937;\n            color: white;\n            text-align: center;\n            padding: 30px;\n            font-size: 0.875rem;\n        }\n        @media (max-width: 768px) {\n            body { padding: 10px; }\n            .overview { grid-template-columns: repeat(2, 1fr); }\n            table { font-size: 0.75rem; }\n            th, td { padding: 8px; }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>🔗 Backlink Analysis Report</h1>\n            <p>Professional SEO Domain Authority Assessment</p>\n            <p>Generated on ${currentDate}</p>\n        </div>\n\n        <div class=\"overview\">\n            <div class=\"overview-card\">\n                <h3>Total Domains</h3>\n                <div class=\"number\">${formatNumber(totalDomains)}</div>\n            </div>\n            <div class=\"overview-card\">\n                <h3>Total Links</h3>\n                <div class=\"number\">${formatNumber(totalLinks)}</div>\n            </div>\n            <div class=\"overview-card success\">\n                <h3>Accepted</h3>\n                <div class=\"number\">${formatNumber(totalAccepted)}</div>\n            </div>\n            <div class=\"overview-card danger\">\n                <h3>Rejected</h3>\n                <div class=\"number\">${formatNumber(totalRejected)}</div>\n            </div>\n        </div>\n`;\n\n// Generate sections for each domain\nObject.keys(domainData).forEach(domain => {\n  const data = domainData[domain];\n  const acceptedCount = data.accepted.length;\n  const rejectedCount = data.rejected.length;\n  const totalCount = acceptedCount + rejectedCount;\n\n  html += `\n        <div class=\"domain-section\">\n            <div class=\"domain-header\">\n                <div class=\"domain-title\">📊 ${domain}</div>\n                <div class=\"domain-stats\">\n                    Target URL: ${data.target_url} | \n                    ✅ ${acceptedCount} Accepted | \n                    ❌ ${rejectedCount} Rejected | \n                    📈 Total: ${totalCount}\n                </div>\n            </div>\n  `;\n\n  // Accepted Links Section\n  if (acceptedCount > 0) {\n    html += `\n            <div class=\"subsection\">\n                <div class=\"subsection-header accepted-header\">\n                    ✅ Accepted Backlinks (${acceptedCount})\n                </div>\n                <table>\n                    <thead>\n                        <tr>\n                            <th>From Domain</th>\n                            <th>Anchor</th>\n                            <th>Rank</th>\n                            <th>Domain Rank</th>\n                            <th>Spam Score</th>\n                            <th>Follow</th>\n                            <th>Tier</th>\n                            <th>Score</th>\n                            <th>Link Type</th>\n                            <th>First Seen</th>\n                            <th>Last Seen</th>\n                            <th>Reason</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n    `;\n\n    data.accepted.forEach(link => {\n      html += `\n                        <tr>\n                            <td>\n                                <a href=\"${link.url}\" class=\"domain-link\" target=\"_blank\" title=\"${link.url}\">\n                                    ${extractDomain(link.url)}\n                                </a>\n                                <div style=\"font-size: 0.75rem; color: #6b7280; margin-top: 4px;\">${link.page_title}</div>\n                            </td>\n                            <td>${link.anchor}</td>\n                            <td><strong>${link.rank}</strong></td>\n                            <td><strong>${link.domain_rank}</strong></td>\n                            <td>\n                                ${link.spam_score === 'N/A' ? 'N/A' : \n                                  link.spam_score === 0 ? '<span class=\"badge badge-success\">0%</span>' :\n                                  link.spam_score < 5 ? `<span class=\"badge badge-success\">${link.spam_score}%</span>` :\n                                  `<span class=\"badge badge-warning\">${link.spam_score}%</span>`}\n                            </td>\n                            <td>\n                                ${link.do_follow === 'Yes' ? '<span class=\"badge badge-success\">Yes</span>' : \n                                  '<span class=\"badge badge-danger\">No</span>'}\n                            </td>\n                            <td>${getTierBadge(link.tier)}</td>\n                            <td><strong style=\"color: #2563eb; font-size: 1.1rem;\">${link.score}</strong></td>\n                            <td>${link.link_type}</td>\n                            <td style=\"font-size: 0.75rem;\">${formatDate(link.first_seen)}</td>\n                            <td style=\"font-size: 0.75rem;\">${formatDate(link.last_seen)}</td>\n                            <td style=\"font-size: 0.8rem; color: #374151;\">${link.reason}</td>\n                        </tr>\n      `;\n    });\n\n    html += `\n                    </tbody>\n                </table>\n            </div>\n    `;\n  } else {\n    html += `\n            <div class=\"subsection\">\n                <div class=\"subsection-header accepted-header\">\n                    ✅ Accepted Backlinks (0)\n                </div>\n                <div class=\"no-data\">No accepted backlinks found for this domain.</div>\n            </div>\n    `;\n  }\n\n  // Rejected Links Section\n  if (rejectedCount > 0) {\n    html += `\n            <div class=\"subsection\">\n                <div class=\"subsection-header rejected-header\">\n                    ❌ Rejected Backlinks (${rejectedCount})\n                </div>\n                <table>\n                    <thead>\n                        <tr>\n                            <th>From Domain</th>\n                            <th>Anchor</th>\n                            <th>Rank</th>\n                            <th>Domain Rank</th>\n                            <th>Spam Score</th>\n                            <th>Follow</th>\n                            <th>Score</th>\n                            <th>Rejection Reason</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n    `;\n\n    data.rejected.forEach(link => {\n      html += `\n                        <tr>\n                            <td>\n                                <a href=\"${link.url}\" class=\"domain-link\" target=\"_blank\" title=\"${link.url}\">\n                                    ${extractDomain(link.url)}\n                                </a>\n                                <div style=\"font-size: 0.75rem; color: #6b7280; margin-top: 4px;\">${link.page_title}</div>\n                            </td>\n                            <td>${link.anchor}</td>\n                            <td>${link.rank}</td>\n                            <td>${link.domain_rank}</td>\n                            <td>\n                                ${link.spam_score === 'N/A' ? 'N/A' : \n                                  `<span class=\"badge badge-${link.spam_score >= 10 ? 'danger' : 'warning'}\">${link.spam_score}%</span>`}\n                            </td>\n                            <td>\n                                ${link.do_follow === 'Yes' ? '<span class=\"badge badge-success\">Yes</span>' : \n                                  '<span class=\"badge badge-danger\">No</span>'}\n                            </td>\n                            <td>${link.score}</td>\n                            <td style=\"font-size: 0.8rem; color: #991b1b;\">${link.reason}</td>\n                        </tr>\n      `;\n    });\n\n    html += `\n                    </tbody>\n                </table>\n            </div>\n    `;\n  } else {\n    html += `\n            <div class=\"subsection\">\n                <div class=\"subsection-header rejected-header\">\n                    ❌ Rejected Backlinks (0)\n                </div>\n                <div class=\"no-data\">No rejected backlinks for this domain.</div>\n            </div>\n    `;\n  }\n\n  html += `\n        </div>\n  `;\n});\n\nhtml += `\n        <div class=\"footer\">\n            <strong>Backlink Analysis Report</strong><br>\n            Powered by Advanced SEO Analytics<br>\n            Generated: ${new Date().toISOString()}\n        </div>\n    </div>\n</body>\n</html>\n`;\n\n// Generate Plain Text Version\nlet text = `\nBACKLINK ANALYSIS REPORT\n========================\nGenerated: ${currentDate}\n\nSUMMARY\n-------\n• Total Domains: ${totalDomains}\n• Total Links: ${totalLinks}\n• Accepted: ${totalAccepted}\n• Rejected: ${totalRejected}\n• Quality Rate: ${totalLinks > 0 ? ((totalAccepted / totalLinks) * 100).toFixed(1) : 0}%\n\n`;\n\nObject.keys(domainData).forEach(domain => {\n  const data = domainData[domain];\n  text += `\\n${'='.repeat(80)}\\n`;\n  text += `DOMAIN: ${domain}\\n`;\n  text += `Target URL: ${data.target_url}\\n`;\n  text += `Accepted: ${data.accepted.length} | Rejected: ${data.rejected.length}\\n`;\n  text += `${'='.repeat(80)}\\n`;\n  \n  if (data.accepted.length > 0) {\n    text += `\\n✅ ACCEPTED BACKLINKS (${data.accepted.length}):\\n`;\n    text += `${'-'.repeat(80)}\\n`;\n    data.accepted.forEach((link, index) => {\n      text += `${index + 1}. ${extractDomain(link.url)}\\n`;\n      text += `   URL: ${link.url}\\n`;\n      text += `   Anchor: ${link.anchor}\\n`;\n      text += `   Rank: ${link.rank} | Domain Rank: ${link.domain_rank} | Score: ${link.score}\\n`;\n      text += `   Spam: ${link.spam_score} | Follow: ${link.do_follow} | Tier: ${link.tier}\\n`;\n      text += `   Type: ${link.link_type}\\n`;\n      text += `   First Seen: ${formatDate(link.first_seen)} | Last Seen: ${formatDate(link.last_seen)}\\n`;\n      text += `   Reason: ${link.reason}\\n\\n`;\n    });\n  }\n  \n  if (data.rejected.length > 0) {\n    text += `\\n❌ REJECTED BACKLINKS (${data.rejected.length}):\\n`;\n    text += `${'-'.repeat(80)}\\n`;\n    data.rejected.forEach((link, index) => {\n      text += `${index + 1}. ${extractDomain(link.url)}\\n`;\n      text += `   URL: ${link.url}\\n`;\n      text += `   Rank: ${link.rank} | Domain Rank: ${link.domain_rank} | Score: ${link.score}\\n`;\n      text += `   Spam: ${link.spam_score} | Follow: ${link.do_follow}\\n`;\n      text += `   Rejection Reason: ${link.reason}\\n\\n`;\n    });\n  }\n});\n\ntext += `\\n${'='.repeat(80)}\\n`;\ntext += `Report Generated: ${new Date().toISOString()}\\n`;\ntext += `${'='.repeat(80)}\\n`;\n\n// Email subject\nconst subject = `Backlink Analysis Report - ${currentDate} | ${totalDomains} Domains | ${totalAccepted} Accepted / ${totalRejected} Rejected`;\n\n// Return data for N8N\nreturn {\n  json: {\n    subject: subject,\n    htmlBody: html,\n    textBody: text,\n    summary: {\n      total_domains: totalDomains,\n      total_links: totalLinks,\n      accepted: totalAccepted,\n      rejected: totalRejected,\n      quality_rate: totalLinks > 0 ? ((totalAccepted / totalLinks) * 100).toFixed(1) : 0,\n      generated_at: new Date().toISOString()\n    }\n  }\n};"
      },
      "id": "a1c21901-a687-4ed9-aae3-d3374d7b3df8",
      "name": "Generate Enhanced Email Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1376
      ]
    },
    {
      "parameters": {
        "fromEmail": "avinash@addwebsolution.in ",
        "toEmail": "avinash@addwebsolution.in ",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.htmlBody }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "23926349-07b4-40be-97d1-5d4b83750050",
      "name": "Send Enhanced Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1088,
        1376
      ],
      "webhookId": "c0d56253-36ba-43a7-b212-387309d19ae7",
      "credentials": {
        "smtp": {
          "id": "D1KtGwVfUcLFm6dD",
          "name": "SMTP @Coffee"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log successful completion with summary stats\nconst emailData = $input.first().json;\n\nconsole.log('✅ Enhanced backlink report sent successfully!');\nconsole.log(`📊 Report Summary:`);\nconsole.log(`   - Domains: ${emailData.summary.total_domains}`);\nconsole.log(`   - Total Backlinks: ${emailData.summary.total_backlinks.toLocaleString()}`);\nconsole.log(`   - Dofollow Links: ${emailData.summary.total_dofollow}`);\nconsole.log(`   - Broken Links: ${emailData.summary.total_broken}`);\nconsole.log(`   - Generated: ${emailData.summary.generated_at}`);\n\n// Return success status\nreturn [{\n    json: {\n        success: true,\n        message: 'Enhanced backlink report processed and sent successfully',\n        timestamp: new Date().toISOString(),\n        summary: emailData.summary\n    }\n}];"
      },
      "id": "3cd1c97a-6e7f-4695-b4e8-3c6d8d9a874a",
      "name": "Log Report Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        1376
      ]
    },
    {
      "parameters": {
        "content": "## Send Email Report",
        "height": 400,
        "width": 704,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        1248
      ],
      "id": "352e2284-063d-4eba-a27e-7460d5e838da",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "DataForSEO API Call": [
      {
        "json": {
          "version": "0.1.20251023",
          "status_code": 20000,
          "status_message": "Ok.",
          "time": "0 sec.",
          "cost": 0,
          "tasks_count": 1,
          "tasks_error": 1,
          "tasks": [
            {
              "id": "10301211-1096-0269-0000-23baeb8751ae",
              "status_code": 40204,
              "status_message": "Access denied. Visit Plans and Subscriptions to activate your subscription and get access to this API: https://app.dataforseo.com/backlinks-subscription .",
              "time": "0 sec.",
              "cost": 0,
              "result_count": 0,
              "path": [
                "v3",
                "backlinks",
                "backlinks",
                "live"
              ],
              "data": {
                "api": "backlinks",
                "function": "backlinks",
                "target": "https://addwebsolution.com",
                "limit": 10,
                "internal_list_limit": 10,
                "backlinks_status_type": "live",
                "include_subdomains": true,
                "exclude_internal_backlinks": true,
                "include_indirect_links": true,
                "mode": "as_is",
                "rank_scale": "one_hundred"
              },
              "result": null
            }
          ]
        }
      },
      {
        "json": {
          "version": "0.1.20251023",
          "status_code": 20000,
          "status_message": "Ok.",
          "time": "0 sec.",
          "cost": 0,
          "tasks_count": 1,
          "tasks_error": 1,
          "tasks": [
            {
              "id": "10301211-1096-0269-0000-ddb778fc3864",
              "status_code": 40204,
              "status_message": "Access denied. Visit Plans and Subscriptions to activate your subscription and get access to this API: https://app.dataforseo.com/backlinks-subscription .",
              "time": "0 sec.",
              "cost": 0,
              "result_count": 0,
              "path": [
                "v3",
                "backlinks",
                "backlinks",
                "live"
              ],
              "data": {
                "api": "backlinks",
                "function": "backlinks",
                "target": "https://www.tatvasoft.com/",
                "limit": 10,
                "internal_list_limit": 10,
                "backlinks_status_type": "live",
                "include_subdomains": true,
                "exclude_internal_backlinks": true,
                "include_indirect_links": true,
                "mode": "as_is",
                "rank_scale": "one_hundred"
              },
              "result": null
            }
          ]
        }
      },
      {
        "json": {
          "version": "0.1.20251023",
          "status_code": 20000,
          "status_message": "Ok.",
          "time": "0 sec.",
          "cost": 0,
          "tasks_count": 1,
          "tasks_error": 1,
          "tasks": [
            {
              "id": "10301211-1096-0269-0000-9e11109e282b",
              "status_code": 40204,
              "status_message": "Access denied. Visit Plans and Subscriptions to activate your subscription and get access to this API: https://app.dataforseo.com/backlinks-subscription .",
              "time": "0 sec.",
              "cost": 0,
              "result_count": 0,
              "path": [
                "v3",
                "backlinks",
                "backlinks",
                "live"
              ],
              "data": {
                "api": "backlinks",
                "function": "backlinks",
                "target": "https://www.hiddenbrains.com/",
                "limit": 10,
                "internal_list_limit": 10,
                "backlinks_status_type": "live",
                "include_subdomains": true,
                "exclude_internal_backlinks": true,
                "include_indirect_links": true,
                "mode": "as_is",
                "rank_scale": "one_hundred"
              },
              "result": null
            }
          ]
        }
      }
    ]
  },
  "connections": {
    "Daily Schedule Trigger": {
      "main": [
        [
          {
            "node": "ENV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Domains List": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataForSEO API Call": {
      "main": [
        []
      ]
    },
    "Process DataForSEO Response": {
      "main": [
        [
          {
            "node": "SEO Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Domain and Filter Date": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Report": {
      "main": [
        [
          {
            "node": "Check for Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report data": {
      "main": [
        [
          {
            "node": "Create Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backlink data ": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEO Agent": {
      "main": [
        [
          {
            "node": "Report data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "SEO Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check for API Error": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process DataForSEO Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Report Error": {
      "main": [
        [],
        [
          {
            "node": "Merge Report and LLM Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check for Backlink Error": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Backlink data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Report and LLM Data": {
      "main": [
        [
          {
            "node": "Backlink data ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Process Domain and Filter Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Backlink": {
      "main": [
        [
          {
            "node": "Check for Backlink Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Current Client Domain List": {
      "main": [
        [
          {
            "node": "Get backlinks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Backlink data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Current Client Domain List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Backlink data": {
      "main": [
        [
          {
            "node": "Generate Enhanced Email Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Backlink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENV": {
      "main": [
        [
          {
            "node": "Get Domains List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get backlinks": {
      "main": [
        [
          {
            "node": "Check for API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Merge Report and LLM Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Enhanced Email Report": {
      "main": [
        [
          {
            "node": "Send Enhanced Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Enhanced Email Report": {
      "main": [
        [
          {
            "node": "Log Report Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b37f71dc-7faf-490d-8b9e-12d774ddcbf6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "29e3afd51a041bd4690a287a9578813e88030cec004df9cbfbb33a08c4c74783"
  },
  "id": "ZFCn0T2rczNP7BAw",
  "tags": [
    {
      "createdAt": "2025-10-10T12:28:45.037Z",
      "updatedAt": "2025-10-10T12:28:45.037Z",
      "id": "4t6o6np8icPWjyeM",
      "name": "BACKLINK 2.0"
    },
    {
      "createdAt": "2025-10-17T06:43:32.872Z",
      "updatedAt": "2025-10-17T06:43:32.872Z",
      "id": "aSg4klPnlOS6SuuT",
      "name": "LIVE API"
    },
    {
      "createdAt": "2025-10-30T07:10:20.222Z",
      "updatedAt": "2025-10-30T07:10:20.222Z",
      "id": "0aeT5AmjQcBmqVg3",
      "name": "PRD"
    },
    {
      "createdAt": "2025-08-14T11:57:28.194Z",
      "updatedAt": "2025-08-14T11:57:28.194Z",
      "id": "ltjK3DBESccOziIO",
      "name": "Enhanced SEO Monitoring"
    }
  ]
}