n8n_flow/prd/SEO Backlink Summary Workflow PRD.json
{
  "name": "SEO Backlink Summary Workflow PRD",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * 0"
            }
          ]
        }
      },
      "id": "70c7d8bc-4859-4091-8309-46d8952090ee",
      "name": "Daily Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        976,
        592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://seo-stream.addwebprojects.com/api/user/client/domains",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer B82VKlSDTYxos6EvFeNW1Vftrltp42NxmIzXRpqs180daac8"
            },
            {
              "name": "Cookie",
              "value": "XSRF-TOKEN=eyJpdiI6ImtSUlJld1BMREwxajh3cEgvRkx3UEE9PSIsInZhbHVlIjoiR2xkQ21LN3V3ZEF0SVVoNGpnZThIS2RkSExveEdGRWFFMjV2dHI5RlVjbzY2VFhabWlrTVRYaHdjbytHYklWZnFNTzVqV3c0MWV4aSsxb3YxTnhsOEdrRWl6NDlMVDFQdUJ1REs3Mjg2TnVET1JvN0s5RlE0TmpHU0ozc3NNemYiLCJtYWMiOiIyMjZlY2ZjOTg4ZmYyMTgyZmRhODc1Y2UwNTc2MGUxYjRiZjM3MWU2YTAyNmM3NmRlZGRjNGI1NjZiN2ZiODg1IiwidGFnIjoiIn0%3D; laravel_session=eyJpdiI6ImI1ZnZsR2o5RUIvZDk4WjVUV1Q3SlE9PSIsInZhbHVlIjoiaWliVzJuQlBNVEdxcGVnMFlxWHdjUGR0RTI4QWpsemlqS3ozZDVVNVNoR3ZKY0dFVjFRczgvbjFNZkhsaGFBb00zeEI1cWhFUWgxVU9KYWgybUZwSEFNRW8zRHg4RzJHTXE2RUNYTEgwOFE3NmlHWUtKK1VEOE5GL3F5cktuUWMiLCJtYWMiOiI3Y2QxYjQ3OTYxOTNmYzYyOTVmNTQ0MzAwMGEwZjVjNDk4ZjVkOWM3YmJjNDZiZTFmMjA5NTM4YTM3M2IwYjJhIiwidGFnIjoiIn0%3D"
            },
            {
              "name": "cookie",
              "value": "XSRF-TOKEN=eyJpdiI6ImtSUlJld1BMREwxajh3cEgvRkx3UEE9PSIsInZhbHVlIjoiR2xkQ21LN3V3ZEF0SVVoNGpnZThIS2RkSExveEdGRWFFMjV2dHI5RlVjbzY2VFhabWlrTVRYaHdjbytHYklWZnFNTzVqV3c0MWV4aSsxb3YxTnhsOEdrRWl6NDlMVDFQdUJ1REs3Mjg2TnVET1JvN0s5RlE0TmpHU0ozc3NNemYiLCJtYWMiOiIyMjZlY2ZjOTg4ZmYyMTgyZmRhODc1Y2UwNTc2MGUxYjRiZjM3MWU2YTAyNmM3NmRlZGRjNGI1NjZiN2ZiODg1IiwidGFnIjoiIn0%3D;laravel_session=eyJpdiI6ImI1ZnZsR2o5RUIvZDk4WjVUV1Q3SlE9PSIsInZhbHVlIjoiaWliVzJuQlBNVEdxcGVnMFlxWHdjUGR0RTI4QWpsemlqS3ozZDVVNVNoR3ZKY0dFVjFRczgvbjFNZkhsaGFBb00zeEI1cWhFUWgxVU9KYWgybUZwSEFNRW8zRHg4RzJHTXE2RUNYTEgwOFE3NmlHWUtKK1VEOE5GL3F5cktuUWMiLCJtYWMiOiI3Y2QxYjQ3OTYxOTNmYzYyOTVmNTQ0MzAwMGEwZjVjNDk4ZjVkOWM3YmJjNDZiZTFmMjA5NTM4YTM3M2IwYjJhIiwidGFnIjoiIn0%3D;"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "d13397df-69b7-4339-8709-05db64b7858a",
      "name": "Get Domains List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1312,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "const clientData = $('Current Client Domain List').all();\nconst seoTasks = $input.all();\n\nconst records = [];\nlet clientIndex = 0;\n\n\nseoTasks.forEach(task => {\n  // Make sure the path exists and has data\n  const tasksArray = task?.json?.tasks;\n  if (!tasksArray || tasksArray.length === 0) return;\n\n  const resultArray = tasksArray[0]?.result;\n  if (!resultArray || resultArray.length === 0) return;\n\n  const result = resultArray[0];\n\n  const clientInfo = clientData[clientIndex];\n  if (!clientInfo) return;\n\n  records.push({\n    client_id: clientInfo.json.client_id,\n    client_domain_id: clientInfo.json.client_domain_id,\n    client_domain: clientInfo.json.client_domain,\n    rival_domain_id: clientInfo.json.id,\n    target: result.target,\n    rank: result.rank,\n    backlinks: result.backlinks,\n    backlinks_spam_score: result.backlinks_spam_score,\n    crawled_pages: result.crawled_pages,\n    broken_backlinks: result.broken_backlinks,\n    broken_pages: result.broken_pages,\n    referring_domains: result.referring_domains,\n    referring_domains_nofollow: result.referring_domains_nofollow,\n    referring_main_domains: result.referring_main_domains,\n    referring_main_domains_nofollow: result.referring_main_domains_nofollow,\n    referring_ips: result.referring_ips,\n    referring_subnets: result.referring_subnets,\n    referring_pages: result.referring_pages,\n    referring_pages_nofollow: result.referring_pages_nofollow,\n    referring_links_tld: result.referring_links_tld,\n    referring_links_types: result.referring_links_types,\n    referring_links_attributes: result.referring_links_attributes,\n    referring_links_platform_types: result.referring_links_platform_types,\n    referring_links_semantic_locations: result.referring_links_semantic_locations,\n    referring_links_countries: result.referring_links_countries,\n    history_date: new Date().toISOString().split('T')[0]\n  });\n\n  clientIndex++;\n});\n\nreturn records; \n"
      },
      "id": "307a8722-b3cd-4ae4-8658-39dbeff61759",
      "name": "Process DataForSEO Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3392,
        640
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "errorMessage": "an error happned"
      },
      "id": "21bce60e-f9b2-442a-80ec-5dda57d1ebcc",
      "name": "Log Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3392,
        512
      ]
    },
    {
      "parameters": {
        "content": "## Scheduler Start \n ",
        "height": 224,
        "width": 352,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        544
      ],
      "typeVersion": 1,
      "id": "820efa92-e215-43b6-af28-a5f3a669a025",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Get Domain List and Pass to DataForSEO API\n",
        "height": 384,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        464
      ],
      "typeVersion": 1,
      "id": "d8ae7809-9b53-4584-a1f1-a203ed0680e0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Get DataForSEO API Response and Check for error\n",
        "height": 384,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2880,
        464
      ],
      "typeVersion": 1,
      "id": "6270c5af-c16e-40e0-9353-d0664c3d9eb7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Get Merged LLM and Report data and create a backlink record with API",
        "height": 400,
        "width": 1872,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1728,
        880
      ],
      "id": "1ca2fdc6-b215-4979-8334-f75d58347974",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "📊 N8N SEO – BACKLINK AUTOMATION WORKFLOW\n\n🔹 PURPOSE  \nAutomates SEO BACKLINK research & reporting using DataForSEO API and LLM OpenRouter (OpenAI) SEO Agent filter prompt, with error checks, merges, and final report creation.\n\n🔹 FLOW OVERVIEW  \n1. START PROCESS → Fetch domains & prep data  \n2. DataForSEO API Call → Give domains and Get Response  \n3. SEO AGENT → Give API data to SEO agent with filter prompt and get response  \n4. CREATE REPORT → Create report with agent response and merge with llm response\n5. ERROR CHECKS → Catch/report failures at multiple stages  \n6. CREATE BACKLINK → Create backlink with report data and llm response \n7. ERROR CHECKS → Catch/backlink failures at multiple stages  ",
        "height": 1344,
        "width": 3392,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        544,
        0
      ],
      "id": "d218023b-10a7-4a8d-b7c6-248ea12bc2ff",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "📌 Workflow Legend  \n\n🟩 Get Domain List and Pass to DataForSEO API\n\n- Get Domains List → Fetch all domains.  \n- Process Domain and Filter Date → Prepare domains with last 24 hours time and format the data.\n- DataForSEO API Call →  Fetch data from SEO API for domains. \n\n \n🟥 Get DataForSEO API Response and Check for error\n\n- Check for API Error → Catch/DataForSEO API errors.  \n- Log Error → Log any error if any in DataForSEO API.  \n- Process DataForSEO Response → Process reponse and format .\n\n  \n🟩 Start LLM Process With Filter Prompt \n- SEO Agent → Pass the DataForSEO formated response to seo agent and get filtered resposne.  \n- OpenAI Model → Branch on success/error.  \n\n\n\n🟦 Get LLM data and create report and merge \n- Report data → Get seo agent filtered repsone and create a format for report.\n- Create Report → HTTP call to create a report with report data.  \n- Check for Report Error → Catch/report errors.  \n- Merge Report and LLM Data → get create report reponse and llm filtered response.  \n\n\n🟪 Get Merged LLM and Report data and create a backlink record with API  \n- Backlink data  → get merge report and llm filtered response and format for backlink data.  \n- Loop Over Backlink data → pass backlink to loop to process one by one .  \n- Create Backlink → POST backlink data to API.  \n- Check for Backlink Error → Catch/Backlink errors.  \n\n\n⚠️ Token usage warning  \n- OpenRouter reserves the FULL context window if no limits are set.  \n- Always set `\"max_tokens\": 256–512` to avoid 32k token charges.  \n- The `web` plugin pulls in full search results → huge input tokens.  \n- Use the plugin only when fresh data is needed.",
        "height": 992,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9bc00345-da04-446d-88c5-6214017d5625",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1a2b3c4d-5e6f-7890-1234-567890abcdef",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f943fd7a-38a8-4d7d-b2f1-8e6e1ab86600",
      "name": "Check for API Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3072,
        624
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1a2b3c4d-5e6f-7890-1234-567890abcdef",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fa2e41db-94aa-4275-9d59-38ed479b2625",
      "name": "Check for Backlink Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3328,
        1024
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3cd5839b-c918-45af-a444-6845e5c220da",
              "leftValue": "={{ $json.domains }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        592
      ],
      "id": "fd6e2d5e-1346-4061-a8cf-a1e8ced5d644",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2128,
        608
      ],
      "id": "eafc9c52-22e1-4052-926e-098ea276669e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Get the first input item (the full client object)\nconst input = $input.first().json;\n\nconst cleanDomain = url => {\n  if (!url) return \"\";\n  // Remove protocol\n  url = url.replace(/^https?:\\/\\//, \"\");\n  // Remove www.\n  url = url.replace(/^www\\./, \"\");\n  // Keep only domain part (in case path exists)\n  url = url.split(\"/\")[0];\n  return url;\n};\n\n// Collect all rival domains with their parent client and domain info\nconst allRivals = [];\n\n(input.client_domains || []).forEach(domain => {\n  allRivals.push({\n      client_id: input.client_id || input.id,\n      client_name: input.client_name || input.name,\n      client_domain_id: domain.client_domain_id || domain.id,\n      client_domain_title: domain.client_domain_title || domain.title,\n      client_domain: cleanDomain(domain.client_domain) || domain.target_url,\n      id: domain.client_domain_id,\n      rival_domain_title: domain.client_domain_title || domain.title,\n      rival_domain: cleanDomain(domain.client_domain) || domain.target_url,\n      current_time : domain.current_time,\n      last_six_month_date : domain.last_six_month_date\n    });\n  (domain.rival_domains || []).forEach(rival => {\n    allRivals.push({\n      client_id: input.client_id || input.id,\n      client_name: input.client_name || input.name,\n      client_domain_id: domain.client_domain_id || domain.id,\n      client_domain_title: domain.client_domain_title || domain.title,\n         current_time : domain.current_time,\n      last_six_month_date : domain.last_six_month_date,\n      client_domain: cleanDomain(domain.client_domain) || domain.target_url,\n      id: rival.id,\n      rival_domain_title: rival.rival_domain_title || rival.title,\n      rival_domain: cleanDomain(rival.rival_domain) || rival.target_url\n    });\n  });\n});\n\n// Return as n8n items\nreturn allRivals.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        624
      ],
      "id": "e3d712a3-a1d1-4ebe-ac9f-fcd57a12e7a2",
      "name": "Current Client Domain List"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2096,
        1008
      ],
      "id": "c67f39e5-e07e-4cd2-bd58-3d8b0bef8c9f",
      "name": "Loop Over Backlink data"
    },
    {
      "parameters": {
        "content": "",
        "height": 384,
        "width": 512,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1984,
        464
      ],
      "typeVersion": 1,
      "id": "2f5fc841-5c80-4988-ad07-ad2224fd22db",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 384,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        464
      ],
      "typeVersion": 1,
      "id": "a9ea28ab-443c-45de-b81e-1a77af8b4839",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "// Generate current timestamp\nfunction getStartDate({ monthsAgo = 0, hoursAgo = 0, minDate = \"2019-01-01\" } = {}) {\n  const now = new Date();\n\n  // Subtract months or hours if provided\n  if (monthsAgo) now.setMonth(now.getMonth() - monthsAgo);\n  if (hoursAgo) now.setHours(now.getHours() - hoursAgo);\n\n  // Use minDate if calculated date is before it\n  const min = new Date(minDate);\n  const start = now < min ? min : now;\n\n  const pad = n => (n < 10 ? \"0\" + n : n);\n  const formatted = `${start.getFullYear()}-${pad(start.getMonth() + 1)}-${pad(start.getDate())}`;\n\n  return formatted;\n}\n\nconst current = getStartDate();                    \n// const last24Hours = getFormattedDate({ hoursAgo: 24 }); \nconst lastMonth = getStartDate({ monthsAgo: 1 });  \n// const last6Months = getStartDate({ monthsAgo: 6 }); \n\n// Get all input clients\nconst clients = $input.all().map(item => item.json);\n\n// Build grouped output\nconst result = [];\n\nclients.forEach(client => {\n  const clientData = {\n    client_id: client.id,\n    client_name: client.name,\n    client_domains: []\n  };\n\n  (client.client_domains || []).forEach(domain => {\n    if (!domain.rival_domains || domain.rival_domains.length === 0) return; // skip domains with no rivals\n\n    clientData.client_domains.push({\n      client_domain_id: domain.id,\n      client_domain_title: domain.title,\n      client_domain: domain.target_url,\n      current_time : current,\n      last_six_month_date : lastMonth,\n      rival_domains: domain.rival_domains.map(rival => ({\n        id: rival.id,\n        rival_domain_title: rival.title,\n        rival_domain: rival.target_url\n      }))\n    });\n  });\n\n  // only push clients that actually have domains with rivals\n  if (clientData.client_domains.length > 0) {\n    result.push(clientData);\n  }\n});\n\n// Return as n8n items\nreturn result.map(r => ({ json: r }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        608
      ],
      "id": "cdc7c018-25c1-4244-b2a0-eb23970d93b6",
      "name": "Get Current Month Data",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "",
        "height": 384,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2528,
        464
      ],
      "typeVersion": 1,
      "id": "2a9e97b3-3e0c-4bb6-b4fc-40dd457b8886",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/backlinks/summary/live",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic Y29mZmVlQGFkZHdlYnNvbHV0aW9uLmNvbTozNmVlYzZhNmU2YTg1YWM1"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"target\": \"{{ $json.rival_domain }}\",\n     \"backlinks_status_type\": \"all\"\n  }\n]",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 90000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        1056
      ],
      "id": "1aeced3d-45ab-4895-90b2-eaec7660ce32",
      "name": "DataForSEO Summary API"
    },
    {
      "parameters": {
        "content": "## Get Domain and Pass to DataForSEO API\n",
        "height": 384,
        "width": 480,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        880
      ],
      "typeVersion": 1,
      "id": "baf54a1e-3ac7-43a2-adca-fc0e70ee883b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Laravel Event Based Start\n",
        "height": 224,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        928
      ],
      "typeVersion": 1,
      "id": "43ec11c3-d708-444e-8374-46967b2c0def",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "run/summary/flow",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        960,
        992
      ],
      "id": "77e64137-67b2-4aec-8c38-8f1b57e48644",
      "name": "Summary Weebhook",
      "webhookId": "bc2adfa4-1598-4b5b-ae7b-7e3f88456510"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1296,
        992
      ],
      "id": "44b2824b-ace6-47dd-989d-540a12d77094",
      "name": "Wait",
      "webhookId": "a1ee2920-34d2-4037-aace-5dcccc1ea3e3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://seo-stream.addwebprojects.com/api/backlinkhistory/updateorcreate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization ",
              "value": "Bearer B82VKlSDTYxos6EvFeNW1Vftrltp42NxmIzXRpqs180daac8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json}}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2848,
        1024
      ],
      "id": "134e40e2-1d1f-48a6-a5ee-c63416547063",
      "name": "Create Backlink History"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.body\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        992
      ],
      "id": "67447998-6be9-4189-b3d3-749e070e53ac",
      "name": "Format Webhook Data"
    },
    {
      "parameters": {
        "operation": "get-backlink-summary",
        "target": "={{ $json.rival_domain }}",
        "backlinks_status_type": "all",
        "internal_list_limit": null
      },
      "type": "n8n-nodes-dataforseo.dataForSeo",
      "typeVersion": 1,
      "position": [
        2640,
        624
      ],
      "id": "4f643ff7-d559-4a68-af21-d39fad6fc362",
      "name": "Get backlink summary",
      "credentials": {
        "dataForSeoApi": {
          "id": "2yGvbF0oN29ZazZv",
          "name": "DataForSEO account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Domains List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Domains List": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process DataForSEO Response": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for API Error": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process DataForSEO Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Backlink Error": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Backlink data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Get Current Month Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Backlink data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Current Client Domain List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Current Client Domain List": {
      "main": [
        [
          {
            "node": "Get backlink summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Backlink data": {
      "main": [
        [],
        [
          {
            "node": "Create Backlink History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Month Data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Weebhook": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Format Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Backlink History": {
      "main": [
        [
          {
            "node": "Check for Backlink Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Webhook Data": {
      "main": [
        [
          {
            "node": "Get Current Month Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get backlink summary": {
      "main": [
        [
          {
            "node": "Check for API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "16ce8c16-b038-4d2c-9b43-d8dd881f3bd7",
  "meta": {
    "instanceId": "29e3afd51a041bd4690a287a9578813e88030cec004df9cbfbb33a08c4c74783"
  },
  "id": "tMMD6fAG6qquiI6g",
  "tags": [
    {
      "createdAt": "2025-10-10T12:28:45.037Z",
      "updatedAt": "2025-10-10T12:28:45.037Z",
      "id": "4t6o6np8icPWjyeM",
      "name": "BACKLINK 2.0"
    },
    {
      "createdAt": "2025-10-17T06:38:09.809Z",
      "updatedAt": "2025-10-17T06:38:09.809Z",
      "id": "x9U8nMaDu2nELe12",
      "name": "Summary"
    },
    {
      "createdAt": "2025-10-30T07:10:20.222Z",
      "updatedAt": "2025-10-30T07:10:20.222Z",
      "id": "0aeT5AmjQcBmqVg3",
      "name": "PRD"
    }
  ]
}